*.o
*.so
*.pyc
*.pdf
*.bin
*.swp
*.cproject
*.project
*.settings
nbody
.DS_Store
error.txt
examples/test
examples/test/*
ipython_examples/test.ipynb
tests/testall.html
tests/*/*.txt
tests/*/*.png
tests/*/nbody*
tests/*/rebound*
examples/*/rebound*
doc/html/*
doc/latex/*
doc/Doxyfile
MANIFEST
reboundx.egg-info
venv/
dist/
build/
.ipynb_checkpoints
doc/doxygen/xml/
doc/_build/
doc/c_examples.rst
doc/doxygen/html/
doc/ipython
doc/search.json
problems/
*.dSYM
Untitled*
.vscode/*
*.code-workspace
.eggs/*